In [1]:
import pandas as pd

In [2]:
movies_data = pd.read_csv("C:\\Users\\Akshay Chand\\Desktop\\pdf\\movies.csv")

In [4]:
print(movies_data.head())

  show_id     type  title           director  \
0      s1  TV Show     3%                NaN
1      s2    Movie   7:19  Jorge Michel Grau
2      s3    Movie  23:59       Gilbert Chan
3      s4    Movie      9        Shane Acker
4      s5    Movie     21     Robert Luketic

                                                cast        country  \
0  João Miguel, Bianca Comparato, Michel Gomes, R...         Brazil
1  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
2  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
3  Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
4  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States

          date_added  release_year rating   duration  \
0    August 14, 2020          2020  TV-MA  4 Seasons
1  December 23, 2016          2016  TV-MA     93 min
2  December 20, 2018          2011      R     78 min
3  November 16, 2017          2009  PG-13     80 min
4    January 1, 2020          2008  PG-13    123 min

                                           listed_in  \
0  International TV Shows, TV Dramas, TV Sci-Fi &...
1                       Dramas, International Movies
2                Horror Movies, International Movies
3  Action & Adventure, Independent Movies, Sci-Fi...
4                                             Dramas

                                         description
0  In a future where the elite inhabit an island ...
1  After a devastating earthquake hits Mexico Cit...
2  When an army recruit is found dead, his fellow...
3  In a postapocalyptic world, rag-doll robots hi...
4  A brilliant group of students become card-coun...

In [6]:
movies_data.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

## Handling missing values

In [8]:
movies_data ['director'].fillna('Unknown', inplace=True)
movies_data ['cast'].fillna('Unknown', inplace=True)
movies_data ['country'].fillna('Unknown', inplace=True)
movies_data ['rating'].fillna('Unknown', inplace=True)

## Droping rows with missing 'date_added'

In [9]:
movies_data.dropna(subset=['date_added'], inplace=True)

In [21]:
movies_data['duration_int'] = movies_data['duration'].str.extract('(\\d+)').astype(int)
movies_data['duration_type'] = movies_data['duration'].str.extract('([a-zA-Z]+)').astype(str)

In [22]:
initial_shape = movies_data.shape
movies_data.drop_duplicates(inplace=True)
final_shape = movies_data.shape
print(f"Removed {initial_shape[0] - final_shape[0]} duplicate rows")

Removed 0 duplicate rows

In [24]:
output_path = "netfilx_movies.csv"
movies_data.to_csv(output_path, index=False)

In [ ]:
import os
if os.path.exists(output_path):
    print(f"Your file was saved successfully as '{output_path}'.")
else:
    print("File was not saved. Please check for errors.")